<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"  xmlns:android="http://schemas.android.com/apk/res/android" id="com.mzk.bugly" version="1.0.1">
  <name>BuglyPlugin</name>
  <js-module name="BuglyPlugin" src="www/BuglyPlugin.js">
    <clobbers target="cordova.plugins.BuglyPlugin"/>
  </js-module>
  <platform name="android">
    <lib-file src="src/android/libs/bugly_crash_release.jar" />
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="BuglyPlugin">
        <param name="android-package" value="com.mzk.bugly.BuglyPlugin"/>
      </feature>
    </config-file>
    <source-file src="src/android/BuglyPlugin.java" target-dir="src/com/mzk/bugly" />

  </platform>

</plugin>
